header, main, aside, footer{
    margin: 0;
    padding: 0;
    width: 100%;
}
header{
    background-color: #f0f090;
    height:100px ;
}
main, aside{
    height:450px;
}

aside{
    height: 225px;
    background-color: #90f0f0;
    width: 30%;
    float: left;
}
main{
    background-color: #60f0A0;
    width: 70%;
    float: right;
}
footer{
    background-color: #90f090;
    clear: both;
    height: 50px;
}
.menu{
    margin: 10px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    background-color: #A0f060;
    height: 450px;
    float: left;
    width: 30%;
}

table{
    background-color: #FA0;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
}
table, th{
    border: 2px, solid, #FFC500;
    padding: 10px;
}
.tb td{
    border: 1px solid #FFC500;;
    padding: 10px;
}
tr:hover{
    background-color: #F80;
}
tr:nth-child(even):hover{
    background-color: #ffFF37;
}
tr:nth-child(even){
    background-color: #ffFF80;
}
.tb h1{
    text-align: center;
}
.tb img{
    margin: 10px;
    width: 200px;
    height: 100px;
}
.tb{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tb a{
    text-decoration: none;
    color: #000;
}